@media (max-width: 480px) {
html{
    overflow-y: scroll;
    font-size: 14px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#menu{
    display: none;
}
#backgroundgif img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover; 
    display: block;  
    filter: blur(1px); 
}
#textosgif {
    color: white;
    position:absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    top:3%;
    right: 0%;
    width: 100%;
    height: 100%;
    padding: 15px;
}
#nombreiadmin{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
    width: 100%;
    height: 100%;
}
#nombre {
    color: white;
    font-size: 1.5em;
    z-index: 1;
}
#fotocv {
    display: flex;     
    justify-content: center; 
    align-items: center;     
    width: 40vw;
    height: 30vh;  
    border-radius: 15px;
    min-width: 100px;
    max-width: 300px;
    border-radius: 15px;
}
#fotocv img {
    width: 100%;       
    height: auto;      
    border-radius: 20px;
    object-fit: cover; 
}
#abajo{
    position: relative;
    width: 100%;
}
#servidores img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;   
    z-index: 1;
}
#sobremi{ display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    min-height: 100px;
    background-color: rgba(163, 163, 191, 0.8);
    padding: 10px;
    width: 100%;
    z-index: 2;
}
#sobremi h2{
    font-size: 1.2em;
}
#sobremi p{
    font-size: 0.9em;
}
#aaaaa{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
#aaaaa h2{
    font-size: 1.8rem;
    text-align: center;
}
#aaaaa h3::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgb(11, 11, 44); 
    margin-right: 10px;
    border-radius: 2px;
}
#xptr, #prjd, #rcdh, #prpa, #educ, #adds, #bup, #dual{
    text-decoration: none;
    font-size: 1.2em;
}
#descjudo, #descrc, #descprofe, #addsdesc, #bupdesc, #dualdesc{
    font-size: 0.9em;
}
#idiomas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: auto;
    margin-bottom: 20px;
}
#contenedoridiomas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    width: 100%;
    min-height: 150px;

}
.cartaidioma{
    background-color: #ffffff00;
    padding: 1px;
    border-radius: 10px;
    height: 60px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.textrevelar{
    opacity: 0;
    margin-top: 0px;
    color: white;
}
@keyframes expandircard {
    0% {
        height: 15px;
        background-color: #f4f4f4;
        color:black;
        border-radius: 5px;
    }
    50% {
        border-radius: 10px;
        height: 30px;
        background-color: #4b4b4b; 
        color: #434343;
    }
    100% {
        color: white;
        border-radius: 15px;
        height: 45px;
        background-color: #494848; 
        box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    }
}
@keyframes aparecertexto {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#contenedoridiomas:hover {
    animation: expandircard 0.6s ease forwards;
    color: rgb(0, 0, 0);
}
#contenedoridiomas:hover .textrevelar {
    animation: aparecertexto 0.6s ease forwards;
}
#fondocartas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -4;
}
.contenedortarjetas {
  width: 100%;
}
.carta{
    height:70vh;
    width: 80%;
    left: 10%;
  position: sticky;
  top: 15%;
  border-radius: 30px;
  display: flex;
    justify-content: center;
    align-items: center;
}
#carta1 {
    display:flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1;
    color: white;
}
#bbdddesc{
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}
#contenedor-titulobbddimagen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    padding: 20px;
}
#imagenbbdd{
    width: 45%;
    height: auto;
    object-fit: contain;
    display: block;
    z-index: 10;
    margin-top: 10px;
}
#carta2 {
    background-color: rgb(132, 132, 132);
    z-index: 2;
    display: flex;
    flex-direction: column;
}
#imagenmultiboot{
    width: fit-content;
    max-width: 200px; 
    height: auto;
}
#carta3 {
    background-color: rgb(255, 255, 255);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#imagenecommerce{
    width: fit-content;
    max-width: 200px;
    height: auto;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(239, 239, 239, 0);
    color: white;
    gap: 10px;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
}
@media (min-width: 481px) and (max-width: 1023px) {
html{
    overflow-x: hidden;
    font-size: 16px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#menu{
    display: none;
}
#backgroundgif img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover; 
    display: block;  
    filter: blur(1px); 
}
#textosgif {
    color: white;
    position:absolute;
    display: flex;
    flex-direction: row;
    gap: 20px;
    top:10%;
    right: 0%;
    width: 90%;
    height: 100%;
}
#nombreiadmin{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}
#nombre {
    color: white;
    font-size: 2em;
    z-index: 1;
}
#fotocv {
    display: flex;      
    justify-content: right; 
    align-items: center;     
    width: 25vw;
    height: 45vh;  
    border-radius: 15px;
    min-width: 150px;
    max-width: 400px;
    border-radius: 15px;
    overflow: hidden;
}
#fotocv img {
    width: 100%;       
    height: auto;      
    border-radius: 20px;
    object-fit: cover; 
}
#abajo{
    position: relative;
    width: 100%;
}
#servidores img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;   
    z-index: 1;
}
#sobremi{ display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    min-height: 100px;
    background-color: rgba(163, 163, 191, 0.8);
    padding: 20px;
    width: 100%;
    z-index: 2;
}
#sobremi h2{
    font-size: 1.5em;
}
#sobremi p{
    font-size: 1em;
}
#aaaaa{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
#aaaaa h2{
    font-size: 2rem;
    text-align: center;
}
#aaaaa h3::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgb(11, 11, 44); 
    margin-right: 10px;
    border-radius: 2px;
}
#xptr, #prjd, #rcdh, #prpa, #educ, #adds, #bup, #dual{
    text-decoration: none;
    font-size: 1.5em;
}
#descjudo, #descrc, #descprofe, #addsdesc, #bupdesc, #dualdesc{
    font-size: 1em;
}
#idiomas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: auto;
    margin-bottom: 20px;
}
#contenedoridiomas{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    min-height: 45px;
}
.cartaidioma{
    background-color: #ffffff00;
    padding: 5px;
    border-radius: 10px;
    height: 45px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}
.textrevelar{
    opacity: 0;
    margin-top: 0px;
    color: white;
}
@keyframes expandircard {
    0% {
        height: 15px;
        background-color: #f4f4f4;
        color:black;
        border-radius: 5px;
    }
    50% {
        border-radius: 10px;
        height: 30px;
        background-color: #4b4b4b; 
        color: #434343;
    }
    100% {
        color: white;
        border-radius: 15px;
        height: 45px;
        background-color: #494848; 
        box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    }
}
@keyframes aparecertexto {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#contenedoridiomas:hover {
    animation: expandircard 0.6s ease forwards;
    color: rgb(0, 0, 0);
}
#contenedoridiomas:hover .textrevelar {
    animation: aparecertexto 0.6s ease forwards;
}
#fondocartas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -4;
}
.contenedortarjetas {
  width: 100%;
}
.carta{
    height: 74vh;
    width: 60%;
    left: 20%;
  position: sticky;
  top: 25%;
  border-radius: 30px;
  display: flex;
    justify-content: center;
    align-items: center;
}
#carta1 {
    display:flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1;
    color: white;
}
#bbdddesc{
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}
#contenedor-titulobbddimagen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    padding: 20px;
}
#imagenbbdd{
    width: 45%;
    height: auto;
    object-fit: contain;
    display: block;
    z-index: 10;
    margin-top: 10px;
}
#carta2 {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(132, 132, 132);
    z-index: 2;
    margin-top: 50px;
}
#imagenmultiboot img{
    width: auto;
    max-width: 300px; 
    height: auto;
    bottom: 0%;
}
#carta3 {
    background-color: rgb(255, 255, 255);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#imagenecommerce{
    width: fit-content;
    max-width: 400px;
    height: auto;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(218, 218, 218, 0);
    color: white;
    gap: 10px;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
}
@media (min-width: 1024px) {
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
#backgroundgif img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: auto;
    object-fit: cover; 
    display: block;  
}
#textosgif {
    position:absolute;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 20px;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
#nombrefoto {
    grid-row: 3 / 5;
    grid-column: 7/8;
    color: white;
    font-size: 3em;
    z-index: 1;
}
#admin {
    grid-row: 6 / 7;
    grid-column: 6/7;
    color: white;
    font-size: 1.5em;
    z-index: 1;
    max-width: 400px;
}
#fotocv{
    grid-row: 2 / 6;
    grid-column: 2/5;
    filter:blur(0);
    border-radius: 10px;
}
#menu{
    grid-row: 1/2;
    grid-column: 1/10;
    display: flex;
    justify-content: space-around;
    background-color: rgba(98, 99, 133, 0);
    height: 50px;
    z-index: 6;
    position: fixed;
}
#menu button{
    background-color: rgba(154, 128, 128, 0);
    border: none;
    font-size: 1.2em;
    padding: 5px 15px;
}
.boton{
    color: rgb(231, 231, 231);
    text-decoration: none;
    border: none;             
  padding: 10px 20px;       
  cursor: pointer;         
  border-radius: 5px;
}
.boton:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}
#abajo{
    position: relative;
    width: 100%;

}
#servidores img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;   
    z-index: 1;
}
#sobremi{ display: grid;
      position: relative;
    grid-template-columns: repeat(8, 1fr);  
    grid-template-rows: repeat(8, 1fr);
    gap: 20px;
    padding: 20px;
    min-height: 80px;
    background-color: rgba(163, 163, 191, 0.8);
    padding: 20px;
    width: 100%;
    top: 0px;
    z-index: 2;
}
#sobremi h2{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    font-size: 2em;
}
#sobremi p{
    grid-column: 2 / 5;
    grid-row: 4 / 8;
    font-size: 1.2em;

}
#aaaaa{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(10, 1fr);  
    grid-template-rows: repeat(10, 1fr);
}
#aaaaa h2{
    font-size: 3rem;
}
#aaaaa h3::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgb(11, 11, 44); 
    margin-right: 10px;
    border-radius: 2px;
}
#xptr{
    text-decoration: none;
    font-size: 3em;
    grid-column: 2 / 6;
    grid-row: 2 / 3;
}
#prjd{
    text-decoration: none;
    grid-column: 2 / 6;
    grid-row: 3 / 4;
}
#descjudo{
    
    grid-column: 2 / 6;
    grid-row: 4 / 5;
}
#rcdh{
    text-decoration: none;
    grid-column: 2 / 6;
    grid-row: 5 / 6;
}
#descrc{
    grid-column: 2 / 6;
    grid-row: 6 / 7;
}
#prpa{
    grid-column: 2 / 6;
    grid-row: 7 / 8;
}
#descprofe{
    grid-column: 2 / 6;
    grid-row: 8 / 9;
}
#educ{
    grid-column: 7 / 9;
    grid-row: 2 / 3;
}
#adds{
    grid-column: 7 / 9;
    grid-row: 3 / 4;
}
#addsdesc{
    grid-column: 7 / 9;
    grid-row: 4 / 5;
}
#bup{
    grid-column: 7 / 9;
    grid-row: 5 / 6;
}
#bupdesc{
    grid-column: 7 / 9;
    grid-row: 6 / 7;
}
#dual{
    grid-column: 7 / 9;
    grid-row: 7 / 8;
}
#dualdesc{
    grid-column: 7 / 9;
    grid-row: 8 / 9;
}
#idiomas{
    grid-column: 5 / 10;
    grid-row: 9 / 12;
    gap: 15px;
    height: auto;
    margin-bottom: 20px;
}
#contenedoridiomas{
    height:80px;
    grid-column: 1 / 11;
    grid-row: 11 / 12;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.cartaidioma{
    background-color: #ffffff00;
    padding: 15px;
    border-radius: 10px;
    height: 60px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.textrevelar{
    opacity: 0;
    margin-top: 0px;
    color: white;
}
@keyframes expandircard {
    0% {
        height: 30px;
        background-color: #f4f4f4;
        color:black;
        border-radius: 5px;
    }
    50% {
        border-radius: 10px;
        height: 45px;
        background-color: #4b4b4b; 
        color: #434343;
    }
    100% {
        color: white;
        border-radius: 15px;
        height: 60px;
        background-color: #494848; 
        box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    }
}
@keyframes aparecertexto {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#contenedoridiomas:hover {
    animation: expandircard 0.6s ease forwards;
    color: rgb(0, 0, 0);
}
#contenedoridiomas:hover .textrevelar {
    animation: aparecertexto 0.6s ease forwards;
}
#fondocartas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -4;
}
.contenedortarjetas {
  width: 100%;
}
.carta{
    height: 100vh;
    width: 60%;
    left: 20%;
  position: sticky;
  top: 25%;
  border-radius: 30px;
  display: flex;
    justify-content: center;
    align-items: center;
}
#carta1 {
    display:flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1;
    color: white;
}
#bbdddesc{
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}
#contenedor-titulobbddimagen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    padding: 20px;
}
#imagenbbdd{
    width: 45%;
    height: auto;
    object-fit: contain;
    display: block;
    z-index: 10;
    margin-top: 10px;
}
#carta2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(132, 132, 132);
    z-index: 2;
}
#carta3 {
    background-color: rgb(255, 255, 255);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#imagenecommerce{
    width: fit-content;
    max-width: 700px;
    height: auto;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: rgba(105, 105, 105, 0);
    color: white;
    gap: 13rem;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
}
@media print {
    html h1, html h2, html h3, html h4, html h5, html h6, html p, html a {
        color: black !important;
        text-decoration: none !important;
        font-size: 60% !important;
    }
    body {
        background: white !important;
    }
    #backgroundgif, #menu, #fondocartas, footer, .boton {
        display: none !important;
    }
    #fotocv {
    display: none;
    }
    .carta {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: auto !important; 
        page-break-inside: avoid;
        margin-bottom: 20px;
        color: black !important;
        background: none !important;
        border: 1px solid #ccc; 
    }
    #textosgif {
        position: static !important;
        display: block !important;
        color: black !important;
    }
    #nombrefoto, #admin {
        color: black !important;
        position: static !important;
    }
    .textrevelar {
        opacity: 1 !important;
        display: block !important;
    }
    #imagenbbdd {
        filter: invert(100);
    }
    #imagenmultiboot {
        display: none;
    }
    #imagenecommerce {
        filter: grayscale(100%);
    }
    #footer {
        color: black !important;
    }
}
